body {
  font-family: Helvetica, sans-serif;;
  background-image: url('./img/bgReact.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: bisque;
  letter-spacing: 1px;
}

button {  
  height: 3em;
  background-color: transparent;
  color: bisque ;
  border-radius: 0.20em;
  outline: none;
  font-weight: bold;
}

h1 {
  color: #61dae2;
}

span {
  font-weight: bold;
  font-size: 15px
}

/* LOGO & BUTTONS */
.blog-buttons {
  display: flex;
  justify-content: space-around;
}

.logo-image {
  border-radius: 50%;
  border: 8px solid #292F30;
  padding: 10px;
  width: 100px;
}

.logo-react {
  width: 50px;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

a{
  all: unset;
}

.links p:hover {
  color: #61dae2;
  cursor: pointer;
  transform: translateX(5px);
  transition: 0.5s ease;
}
/* END LOGO & BUTTONS */

/* # SECTIONS */
.container {
  margin:  5% auto;
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-areas: 
  "logo logo"
  "header header"
  "carousel carousel"
  "about skills"
  "links blog"
  "projects projects"
  "footer footer";
}

@media (max-width: 510px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logo"
    "header"
    "carousel"
    "about" 
    "skills"
    "links" 
    "blog"
    "projects"
    "footer";
  }
}

.logo {
  grid-area: logo;
  text-align: center;
}

.header {
  grid-area: header;
  text-align: center;
}

.about {
  grid-area: about;
}

.skills {
  grid-area: skills;
}

.projects {
  grid-area: projects;
}

.blog {
  grid-area: blog;
}

.links {
  grid-area: links;
}

.footer {
  grid-area: footer;
  text-align: center;
}
/* END # SECTIONS */

/* SKILLS */
.js {
  background-color: rgb(234, 214, 62, 0.2);
  border-left: 6px solid rgb(234, 214, 62);
  padding: 5px;
}
.react {
  background-color:  rgb(65, 184, 130, 0.2);
  border-left: 6px solid rgb(65, 184, 130);
  padding: 5px;
}
.node {
  background-color: rgb(67, 132, 60, 0.2);
  border-left: 6px solid rgb(67, 132, 60);
  padding: 5px;
}
.bootstrap {
  background-color: rgb(85, 61, 123, 0.2);
  border-left: 6px solid rgb(85, 61, 123);
  padding: 5px;
}
.github {
  background-color: rgb(244, 67, 54, 0.2); ;
  border-left: 6px solid rgb(244, 67, 54);
  padding: 5px;
}
/* END SKILLS */


/* CARDS */
.card {
  display: flex;
  flex-wrap: wrap;
}
.card-description {
  text-align: center;
  font-size: 1em;
  width: 93px;
  margin: 15px 10px;
  border: 1px solid bisque;
  cursor: pointer;
  opacity: 0.6;
}

.card-description:hover,
button:hover {
  background-image: none !important;
  color: rgb(96, 217, 226);
  opacity: 1;
  transition: 0.5s ease;
  box-shadow: 0px 0px 30px -15px rgba(255,228,196,1);
}

.card-image {
  width: 100%;
}
/* END CARDS */